.feedback {
    position: relative;
    padding-bottom: 0px;
    height: 717px;
    border-radius: 30px;
    background-color: #191C19;
    background-image: url(../resources/background_contacts.png);
    background-repeat: no-repeat;
    background-position: right;
}

.feedback__title {
    position: absolute;
    top: 100px;
    width: 553px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
}

.feedback__input {
    position: absolute;
    display: block;
    padding-left: 40px;
    width: 527px;
    height: 60px;
    border: none;
    border-radius: 1000px;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.66px;
    color: #fff;
    background-color: #3B3D3B;
}

.feedback__input_name {
    bottom: 317px;
}

.feedback__input_email {
    bottom: 231px;
}

.feedback__input::placeholder {
    color: #fff;
}

.feedback__input:focus {
    outline: none;
}

.feedback__btn {
    position: absolute;
    bottom: 101px;
    width: 450px;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    line-height: 70px;
    letter-spacing: -0.66px;
    color: black;
    background-color: #1BFF07;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .feedback {
        height: 484px;
        background-image: url(../resources/background_feedback_talet.png);
    }

    .feedback__title {
        top: 50px;
        left: 35px;
        width: 373px;
        font-size: 40px;
        line-height: 40.5px;
        letter-spacing: -1.2px;
    }

    .feedback__input {
        left: 37px;
        padding-left: 24px;
        width: 359px;
        height: 41px;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: -0.48px;
    }

    .feedback__input_name {
        bottom: 231px;
    }

    .feedback__input_email {
        bottom: 173px;
    }

    .feedback__btn {
        bottom: 86px;
        left: 37px;
        width: 304px;
        font-size: 16px;
        line-height: 47px;
        letter-spacing: -0.48px;
    }
}

@media (max-width: 767px) {
    .feedback {
        height: 428px;
        border-radius: 0px;
        background-image: none;
    }

    .feedback__title {
        margin-bottom: 40px;
        max-width: 310px;
        padding-top: 50px;
        position: static;
        font-size: 35px;
        line-height: 37.329px;
        letter-spacing: -1.05px;
    }

    .feedback__input {
        margin-bottom: 15px;
        position: static;
        width: 100%;
        left: 0;
    }

    .feedback__input_email {
        margin-bottom: 40px;
    }

    .feedback__btn {
        position: static;
        width: 100%;
        font-size: 15px;
        line-height: 43px;
        letter-spacing: -0.45px;
    }
}