.feedback {
    padding-bottom: 0px;
    height: 717px;
    border-radius: 30px;
    background-color: #191C19;
    background-image: url(../resources/background_contacts.png);
    background-repeat: no-repeat;
    background-position: right;
}

.feedback__title {
    margin-bottom: 60px;
    padding-top: 100px;
    width: 553px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
}

.feedback__wrapper {
    width: 567px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 60px;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 26px;
}

.feedback__input {
    height: 60px;
    padding-left: 40px;
    border: none;
    border-radius: 1000px;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.66px;
    background-color: #3B3D3B;
    color: #fff;
}

.feedback__input::placeholder {
    color: #fff;
}

.feedback__input:focus {
    outline: none;
}

.feedback__btn {
    width: 450px;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    line-height: 70px;
    letter-spacing: -0.66px;
    background-color: #1BFF07;
    color: #000;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .feedback {
        height: 484px;
        background-image: url(../resources/background_feedback_talet.png);
    }

    .feedback__title {
        margin-bottom: 40px;
        padding-left: 35px;
        padding-top: 50px;
        width: 373px;
        font-size: 40px;
        line-height: 40.5px;
        letter-spacing: -1.2px;
    }

    .feedback__wrapper {
        padding-left: 37px;
        width: 383px;
        gap: 40px;
    }

    .feedback__form {
        gap: 17px;
    }

    .feedback__input {
        height: 41px;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: -0.48px;
    }

    .feedback__btn {
        width: 277px;
        font-size: 16px;
        line-height: 47px;
        letter-spacing: -0.48px;
    }
}

@media (max-width: 767px) {
    .feedback {
        height: 428px;
        border-radius: 0;
        background-image: none;
    }

    .feedback__title {
        padding-left: 0px;
        max-width: 310px;
        font-size: 35px;
        line-height: 37.329px;
        letter-spacing: -1.05px;
    }

    .feedback__wrapper {
        padding-left: 0px;
        width: 100%;
    }

    .feedback__form {
        gap: 15px;
    }

    .feedback__input {
        padding-left: 21px;
        height: 48px;
        border-radius: 622.143px;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.45px;
    }

    .feedback__btn {
        width: 100%;
        border-radius: 6.221px;
        font-size: 15px;
        line-height: 43px;
        letter-spacing: -0.45px;
    }
}